.container {
  width: 100%;
  height: 100lvh;
  position: absolute;
  background-color: rgb(237, 233, 233);
  background-image: url("C:\Users\Admin\Desktop\wallet-app\src\assets\images\png\Group 17.png");
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: center; */
  background-attachment: fixed;
}

.curve{
  top: -10px;
  left: -4px;
  width: 200px;
  height: 250px;
  position: absolute;
  background-repeat: no-repeat;
}

.middle {
  background-color: #fff;
  height: 80%;
  width: 45%;
  max-width: 1200px;
  margin: 70px 370px ;
  padding: 40px 30px 60px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding: 10px;
  margin: 50px;
  width: 170px;
  margin-left: 200px;
}

.textarea{
  display: grid;
  justify-content: center;
  /* align-items: center; */
}
